body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animated-background {
  background: linear-gradient(230deg, #8598ff, #546fff, #8d54ff, #be5dff);
  background-size: 800% 800%;

  -webkit-animation: Animation 10s ease infinite;
  -moz-animation: Animation 10s ease infinite;
  animation: Animation 30s ease infinite;
}

@-webkit-keyframes Animation {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@-moz-keyframes Animation {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@keyframes Animation {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}